p, h1, h2, h3, h4, h5, h6, body, span, button, input, tr, td, label, textarea {
    text-transform: uppercase;
    color: white;
    line-height: 2.5rem;
}

input, textarea {
    background-color: black;
}